MosaicUI/Infrastructure/Service References/LogService/VP.FF.PT.Common.PlatformEssentials.LogInformation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VP.FF.PT.Common.PlatformEssentials.LogInformation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VP.FF.PT.Common.PlatformEssentials.LogInformation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="ArrayOfLogMessageDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogMessageDto" nillable="true" type="tns:LogMessageDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogMessageDto" nillable="true" type="tns:ArrayOfLogMessageDto" />
  <xs:complexType name="LogMessageDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Emitter" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Exception" nillable="true" type="q1:Exception" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogMessageDto" nillable="true" type="tns:LogMessageDto" />
</xs:schema>