MosaicUI/Shell/Service References/CommonServices/Cimpress.ACS.FP3.CommonServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MosaicSample.CommonServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MosaicSample.CommonServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CommonServicesFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonServicesFault" nillable="true" type="tns:CommonServicesFault" />
  <xs:simpleType name="PlatformStateDTO">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Idle" />
      <xs:enumeration value="Production" />
      <xs:enumeration value="StoppedAll" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PlatformStateDTO" nillable="true" type="tns:PlatformStateDTO" />
</xs:schema>