MosaicUI/Shell/Service References/CommonServices/VP.FF.PT.Common.PlatformEssentials.ItemFlow.DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VP.FF.PT.Common.PlatformEssentials.ItemFlow.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VP.FF.PT.Common.PlatformEssentials.ItemFlow.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/VP.FF.PT.Common.PlatformEssentials.Entities.DTOs" />
  <xs:complexType name="ModuleGraphDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Edges" nillable="true" type="tns:ArrayOfModuleGraphEdgeDTO" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VP.FF.PT.Common.PlatformEssentials.Entities.DTOs" minOccurs="0" name="Vertices" nillable="true" type="q1:ArrayOfPlatformModuleDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModuleGraphDTO" nillable="true" type="tns:ModuleGraphDTO" />
  <xs:complexType name="ArrayOfModuleGraphEdgeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModuleGraphEdgeDTO" nillable="true" type="tns:ModuleGraphEdgeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModuleGraphEdgeDTO" nillable="true" type="tns:ArrayOfModuleGraphEdgeDTO" />
  <xs:complexType name="ModuleGraphEdgeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsForcingEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="OriginPort" type="xs:int" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Target" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetPort" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModuleGraphEdgeDTO" nillable="true" type="tns:ModuleGraphEdgeDTO" />
</xs:schema>